
.bingo-cell {
    flex: 0 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    height: 0;
    padding-bottom: calc(20% - 20px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(45deg, #ff4081, #3f51b5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.bingo-cell:hover {
    background: linear-gradient(45deg, #fc163b, #001cb4);
    transition: background 0.5s ease;
    cursor: pointer;
    color: #ffffff;
}

.bingo-cell.marked {
    background: linear-gradient(45deg, #c70052, #2c336d);
    transition: background 0.5s ease;
    color: #ffffff;
}

.bingo-cell.middle {
    background-color: rgba(255, 64, 129, 0.5);
    cursor: default;
}

.bingo-cell.middle:hover {
    background-color: rgba(255, 64, 129, 0.7);
}

@media screen and (max-width: 800px) {
    .bingo-cell {
        flex: 0 0 calc(20% - 20px);
        max-width: calc(20% - 20px);
        height: 0;
        padding-bottom: calc(20% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .bingo-cell {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
        height: 0;
        padding-bottom: calc(25% - 20px);
        font-size: 0.7rem;
    }
}

/* Vertically center the text within the cell */
.bingo-cell > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

