.bingo-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.bingo-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .bingo-row {
        flex-wrap: wrap;
    }
}
