.game-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.game-controls button {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.3s ease;
    background: linear-gradient(45deg, #ff4081, #3f51b5);
    background-clip: padding-box;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.game-controls button:hover {
    background: linear-gradient(45deg, #ff3366, #2f3f9f);
    cursor: pointer;
}
.bingo-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .game-controls {
        margin-top: 10px;
    }

    .game-controls button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
