body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Emoji', 'Arial', sans-serif;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
